<h1>Select the book that you wish to sell</h1>
<div class="row">
  <div class="col">
    <table class="center">
      <tr>
        <th>Title</th>
        <th></th>
        <th>Author</th>
        <th></th>
        <th>Publisher</th>
      </tr>
      <% for book in @books %>
      <tr>
        <td><%= book.title  %></td>
        <td>|</td>
        <td><%= book.author  %></td>
        <td>|</td>
        <td><%= book.publisher %></td>
      </tr>
      <% end %>
    </table>
  </div>
