<h1>Literary Treasures</h1>

<div class="row">

<img src=".../images/real_logo.png" width="200" height="80" alt="">

  <div class="col">
    <h2>Falling stock</h2>

    <table class="center">
      <tr>
        <th>Book</th>
        <th></th>
        <th>Quantity</th>
      </tr>
      <% for book in @books %>
      <tr>
        <td><a href="/books/<%= book.id %>"><%= book.title  %></a></td>
        <td>|</td>
        <td class="<%= book.color() %>"><%= book.quantity %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
