<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="../public/images/Two_cities.jpg">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/table.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/boxes.css">
  <title>Literary Treasures Bookseller</title>
</head>
<body>
 <main>
   <nav class="menu">
      <img id="logo" src="/images/real_logo.png">
     <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/publishers">Publishers</a></li>
      <li><a href="/genres">Categories</a></li>
      <li><a href="/">Financials</a></li>
     </ul>
   </nav>
   <section class="content">
   <%= yield %>
   </section>
   </main>
</body>
</html>
