.boxes_big {
  margin: 10px auto;
  width: 100%;
  display: left;
}

.boxes_publishers {
  margin: 40px auto;
  width: 100%;
}

.boxes {
  border: 2px solid Teal;
  padding: 20px 0px;
  margin: 10px 0px;
  text-align: center;
}

.row {
  display: flex;
}

.col {
  display: center;
  align-items: middle;
  flex: 1;
  vertical-align: middle;
  padding: 1em;
  margin: 2px;
  border: 2px solid Teal;
  text-align: center;
}
