<h1>Please enter the following details to register a new publisher.</h1>

<div class="boxes_big">
  <div class="boxes">

    <table class="center">
      <form method="post" action="/publishers">
          <td>
            <label for="publisher-name">Name: </label>
            <input id="publisher-name" type="text" style="width: 150px;" name="name">
          </td>
          <td>
            <label for="publisher-address">Address: </label>
            <input id="publisher-address" type="text" style="width: 150px;" name="name">
          </td>
          <td>
            <label for="publisher-city">City: </label>
            <input id="publisher-city" type="text" style="width: 150px;" name="name">
          </td>
          <td>
            <label for="publisher-region">Region: </label>
            <input id="publisher-region" type="text" style="width: 150px;" name="name">
          </td>
          <tr align = >
          <td>
            <label for="publisher-country">Country: </label>
            <input id="publisher-country" type="text" style="width: 150px;" name="name">
          </td>
          <td>
            <label for="publisher-postcode">Postcode: </label>
            <input id="publisher-postcode" type="text" style="width: 150px;" name="name">
          </td>
          <td>
            <label for="publisher-tel">Telephone no.: </label>
            <input id="publisher-tel" type="text" style="width: 150px;" name="name">
          </td>
          <td>
            <label for="publisher-email">Email: </label>
            <input id="publisher-email" type="text" style="width: 150px;" name="name">
          </td>
        </tr>
      </form>
    </table>
  </div>
</div>
<table class="center">
  <form method="post" action="/publishers">
  <td>
    <input align="center" class="btn" type="submit" value="Add publisher">
  </td>
      </form>
    </table>
